.App {
  text-align: center;
  background: -webkit-radial-gradient(bottom left,rgba(217, 90, 64, 1) 5%, rgb(114, 86, 178) 100%);
  background: radial-gradient(at bottom left, rgba(217, 90, 64, 1) 5%, rgba(114, 86, 178, 1) 100%);
  height: 100vh;
  width: 100vw;
  color: white;
  background-size: 150% 150%;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}


@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}